* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.hide-text {
    color: transparent;
}

.skip-nav-link {
    position: absolute;
    top: 0;
    left: -1000px;
    z-index: 1;
    padding: 12px 16px;
    background-color: black;
    text-decoration: none;
    border: 2px solid white;
    color: white;
}

.skip-nav-link:focus {
    left: 0;
}

nav {
    background-color: #0B66B7;
}

.mobile-nav {
    position: relative;
}

.nav-logo {
    font-size: 12px;
    height: 60px;
    width: 35%;
    min-width: 200px;
    padding: 5px 10px;
}

.nav-logo a {
    height: 100%;
    width: 100%;
    margin: 0;
    display: inline-block;
    background-image: url(./logo.png);
    background-size: auto 100%;
    background-position: 0;
    background-repeat: no-repeat;
}

.mobile-menu-btn {
    height: 100%;
    position: absolute;
    top: 5px;
    right: 15px;
    background-color: inherit;
    border: none;
    background-image: url(./menu_icon.png);
    background-repeat: no-repeat;
    outline: none;
}

.mobile-menu__list {
    display: none;
    margin: 0;
    padding: 16px 0;
    list-style: none;
    text-align: center;
}

.mobile-menu__item {
    margin-bottom: 8px;
    font-size: 1.2rem;
}

.mobile-menu__item:last-child {
    margin-bottom: 0;
}

.mobile-menu__item a {
    text-decoration: none;
    color: #D6FFF4;
}