* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.hide-text {
    color: transparent;
}

.aria-hide-text {
    color: transparent;
    position: absolute;
    left: -1000px;
}

.flex-container {
    display: flex;
}

.flex-row {
    flex-flow: row wrap;
}

.flex-column {
    flex-flow: column wrap;
    align-content: center;
}

.flex-center {
    justify-content: center;
}

.skip-nav-link {
    position: absolute;
    top: 0;
    left: -1000px;
    z-index: 1;
    padding: 12px 16px;
    background-color: black;
    text-decoration: none;
    border: 2px solid white;
    color: white;
}

.skip-nav-link:focus {
    left: 0;
}

nav {
    background-color: #0B66B7;
}

.mobile-nav {
    position: relative;
}

.nav-logo {
    font-size: 12px;
    height: 60px;
    width: 35%;
    min-width: 200px;
    padding: 5px 10px;
}

.nav-logo a {
    height: 100%;
    width: 100%;
    margin: 0;
    display: inline-block;
    background-image: url(./logo.png);
    background-size: auto 100%;
    background-position: 0;
    background-repeat: no-repeat;
}

.mobile-menu-btn {
    height: 100%;
    position: absolute;
    top: 5px;
    right: 15px;
    background-color: inherit;
    border: none;
    background-image: url(./menu_icon.png);
    background-repeat: no-repeat;
    outline: none;
}

.mobile-menu__list {
    display: none;
    margin: 0;
    padding: 16px 0;
    list-style: none;
    text-align: center;
}

.mobile-menu__item {
    margin-bottom: 16px;
    font-size: 1.2rem;
}

.mobile-menu__item:last-child {
    margin-bottom: 0;
}

.mobile-menu__item a {
    text-decoration: none;
    color: #D6FFF4;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

p {
    padding: 8px;
    line-height: 150%;
}

.modal-btn {
    margin: 0 auto;
}

.modal {
    width: 75%;
    height: 300px;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    padding: 16px;
    background-color: #fff;
    z-index: 3;
    position: fixed;
    top: 25%;
    left: 12.5%;
    text-align: center;
    display: none;
}

.modal p {
    padding: 0;
}

.modal label {
    position: absolute;
}

.modal input {
    display: block;
    margin: 12px 0;
    border: 1px solid black;
}

#email,
#password {
    width: 75%;
}

.modal-buttons {
    margin-top: 12px;
    align-items: center;
}

form button {
    margin-right: 16px;
    height: 24px;
    border: 1px solid black;
    background-color: #FF6E8A;
}

.modal-buttons .modal-btn__submit {
    height: 24px;
    background-color: #7EFE41;
}
  
.modal-overlay {
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: #000;
    opacity: 0.5;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    margin: 0;
    padding: 0;
}

.panel {
    width: 80%;
    margin: 12px 8px;
    padding: 4px;
    border: 1px solid black;
    text-align: center;
}

.group-btns-container {
    margin: 16px 0 32px 0;
}

.increment-btn {
    margin-right: 16px;
}